.phone {
  margin-top: 20vh;
}

.phone__fast-copy {
  padding: 20px 40px;
  font-size: 30px;
  font-weight: $bold;
}

.phone__field {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.phone__field-control {
  margin-top: 10px;
  font-size: 30px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 2px $black;
  background-color: rgba($white, 0.9);
}

.phone__notification {
  margin: 5px 0 0 0;
  transition: all 200ms;
  overflow: hidden;
  height: 0;
  color: #2bff2b;
}

.phone__error {
  margin: 5px 0 0 0;
  transition: all 200ms;
  overflow: hidden;
  height: 0;
  color: #ff8484;
}

.phone__result-description {
  margin: 5px 0 0;
  cursor: default;
}

.phone__result {
  margin: 0;
  font-size: 44px;
  cursor: default;
}

.phone__copy-button-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.phone__help {
  margin: 0;
  font-size: 12px;
}

.phone__help-word {
  font-weight: $bold;
}

.phone__clear {
  margin-top: 30px;
  font-size: 16px;
  padding: 2px 10px;
}
