// Viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width: 767px;

// Fonts
$general-font: "Arial", sans-serif;
$bold: 700;

// Colors
$white: #ffffff;
$black: #000000;
$gray: #808080;
